/data/
/**/data/**
/mnt/data/
/mnt/data/**
/mnt/data/hull_tactical_data/**

!data/.gitkeep
!data/README.md

.ipynb_checkpoints/
**/.ipynb_checkpoints/**
__pycache__/
*.pyc
.DS_Store
Thumbs.db
"@ | Set-Content -Encoding utf8 .gitignore
